<x id="uhtml" style="display:none;">
    <div class="hand nosel fl uzr borderg" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px;padding:1px;">
      <img class="fl ustat" style='width:3px;height:36px;margin-left: 1px;'>
      <img style="width:36px;height:36px;margin-left:1px;" class="fitimg fl u-pic ">
      <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
      <img  class="fr co" style="width:16px;border-radius:1px;">
      <span class="fr uhash" style="color:grey;font-size:70%!important;margin-top: -3px;">#T7</span>
      <div style="width:72%;" class="fl">
        <div style="width:100%;margin-top:-2px;display: flex;" class="fl">
          <img class="fl u-ico" >
          <div class="fl" style="width:82%;"><span style="margin-top:1px;padding: 0px 8px; max-width:100%;border-radius: 3px;" class="corner u-topic dots"></span></div>
        </div>
        <div style="width:100%;color:#888;margin-top:-8px;" class="fl dots mini u-msg"></div>
      </div>
    </div>
  </x>
  <x id="rhtml" style="display:none;">
    <div class="  room  borderg hand nosel fl" style="border-radius:0px!important;background-color:white; width:99%;padding:3px;margin:0px;margin-left:2px;">
      <img style="width:32px;height:32px;margin-right:4px;" class="fl u-pic ">
      <span class="corner fa fa-user label label-primary fr uc" style="padding:4px;margin-right:-1px;border-radius: 3px;"></span>
      <div style="width:64%;" class="fl">
        <div style="width:100%;margin-top:-1px;" class="fl">
          <div style="width:78%;" class="u-topic ui-corner-all dots">{1}</div>
        </div>
        <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg"></d
